<!-- =========================== TITLE =========================== -->
<div class="row">
    <div class="three columns">
        &nbsp;
    </div>
    <div class="six columns">
        <h4>Error</h4>
    </div>
    <div class="three columns">
        &nbsp;
    </div>
</div>

<!-- =========================== BODY  =========================== -->
<!-- +++++++++++++++++++++++++++ ROW 1 +++++++++++++++++++++++++++ -->

<div class="row">
    <div class="three columns">
        &nbsp;
    </div>
    <div class="six columns">
        <h4>Oops, something went wrong!</h4>
    </div>
    <div class="three columns">
        &nbsp;
    </div>
</div>

<!-- +++++++++++++++++++++++++++ ROW 1 +++++++++++++++++++++++++++ -->

<div class="row">
    <div class="three columns">
        &nbsp;
    </div>
    <div class="six columns">
        <h5>Template could not be found.</h5>
    </div>
    <div class="three columns">
        &nbsp;
    </div>
</div>